<div>
    <form [formGroup]="registerForm" (ngSubmit)="register()" class="form">
        <div>
            <h2>Create Account</h2>
        </div>
        <div>
            <label>Name</label>
            <input type="text" formControlName="name" required>
        </div>
        <div>
            <label>Email</label>
            <input type="email" formControlName="email" required>
         </div>
         <div>
             <label>Password</label>
             <input type="password" formControlName="password" required>
         </div>
         <div>
             <label>Confirm Password</label>
             <input type="password" formControlName="confirmPassword" required>
         </div>
         <div>
             <label></label>
             <button type="submit" class="primary">Register</button>
         </div>
         <div>
             <label></label>
             <div>ALready Have Account ? {{" "}} <a [routerLink]="['/sign']" style="color: blue;">Sign In</a></div>
         </div>
    </form>
</div>