<ng-http-loader [backdrop]="false"
[backgroundColor]="'#ff0000'"
[debounceDelay]="100"
[extraDuration]="300"
[minDuration]="300"
[opacity]=".6"
[backdropBackgroundColor]="'#777777'"
[spinner]="sprinkit.skWave" spinner="sk-wave"></ng-http-loader>

<div class="row center">
    <div *ngFor="let product of products">
        <div class="card">
            <a><img src={{product.image}}></a>
            <div class="card-body">
                <div class="card-body">
                    <h1 [routerLink]="['/detail', product._id]">{{product.name}}</h1>
                    <app-common [rating_value]=product.rating
                     [numReviews]="product.brand"></app-common>
                    <div class="price">
                        Price ${{product.cost}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>